
<app-lead-form></app-lead-form>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <nav>
  <span>Prissman</span>
  <ul>
    <li><a routerLink="/first" routerLinkActive="active" ariaCurrentWhenActive="page">Elchanan</a></li>
  </ul>
  <ul>
    <li><a routerLink="/lead-from" routerLinkActive="active" ariaCurrentWhenActive="page">Esti form</a></li>
  </ul>
</nav>

<router-outlet></router-outlet> -->
